<!-- <div>
  <app-home></app-home>
</div>
<div>
  <app-interpolation></app-interpolation>
</div>
<div>
  <app-propertybinding></app-propertybinding>
</div>
<div>
  <app-eventbinding></app-eventbinding>
</div>
<div>
  <app-twowaybinding></app-twowaybinding>
</div>
<div>
  <app-structural-directives></app-structural-directives>
</div>
<div>
  <app-attribute-directive></app-attribute-directive>
</div>
<my-custom-color></my-custom-color> 
<div>
  <app-nav-vomponent></app-nav-vomponent>
  <router-outlet></router-outlet>
</div>-->
<app-parent-compoment></app-parent-compoment>
